@model Rent_a_car.Models.CreditCard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CreditCardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
