@model IEnumerable<Rent_a_car.Models.CreditCard>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Credit Cards</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CreditCardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CreditCardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CreditCardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
